  <template>
  <q-page padding>
    <List
      :posts="handleData.posts"
      @list-item-clicked="(image, title) => openDialog(image, title,videoUrl)"
    />
    <Dialog :isOpen="showDialog" :dialogValues="dValues" @close-dialog="updateDialog" />
  </q-page>
</template>

  <style></style>

  <script>
import { mapState } from "vuex";
import List from "./list.vue";
import Dialog from "./Dialog.vue";

export default {
  name: "PageIndex",
  components: {
    List,
    Dialog
  },
  data() {
    return {
      showDialog: false,
      dValues: {
        imageUrl: "",
        imageTitle: "",
        videoUrl: ""
      }
    };
  },
  // computed: {
  //   posts: function() {
  //     console.log("State is", this.$store.state);
  //     return this.$store.state.handleData.posts
  //   }
  // },
  computed: mapState(["handleData"]),
  watch: {
    // posts: function(prev, next) {
    //   console.log("Inside index posts is", next);
    // }
  },
  mounted() {
    this.$store.dispatch("handleData/loadData");
  },
  methods: {
    openDialog(image, title, videoUrl) {
      this.dValues.imageUrl = image;
      this.dValues.imageTitle = title;
      this.showDialog = !this.showDialog;
      this.dValues.videoUrl = videoUrl;
      console.log(
        "dialog values fron index page",
        this.dValues.imageUrl,
        this.dValues.imageTitle
      );
    },
    updateDialog($event) {
      this.showDialog = $event;
      console.log("event emitted", this.showDialog);
    }
  }
};
</script>
