<template>
  <q-page padding>
   
      
      <q-list bordered>
        <q-item clickable v-ripple  v-for="post in posts" @click="$emit('list-item-clicked', post.data.thumbnail, post.data.title)"
          :key="post.data.id">
          <q-item-section avatar>
            <q-avatar>
              <img :src="post.data.thumbnail"  />
            </q-avatar>
          </q-item-section>
          <q-item-section>{{post.data.title}}</q-item-section>
        </q-item>
      </q-list>

  </q-page>
</template>

<script>

export default {
  
  name: "List",
  props: ['posts'],
  watch: {
    posts: function(current, old) {
      console.log("posts", old   ,"current",current);

    }
  }
};
</script>

<style>
</style>
